
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=REM&family=Righteous&display=swap');

body {
    width: 100%;
        height: 100vh;
        margin: 0px;
        padding: 0px;
    background-color: black;
}

.main {
    margin: 0 auto;
    padding: 0px;
    width: 500px;
    height: 100%;
    background-color: orange;
}

.container {
    margin: 0px;
    padding: 0px;
}

.row {
    --bs-gutter-x: 0;
}

#license-box {
    margin: 10px;
}

.license {
    font-family: 'IM Fell English', serif;
    color: black;
    background-color: white;
    padding: 10px;
    margin: 10px;
    font-size: 13px;
}

.license i {
    font-size: 30px;
}

#menu-bar {
        position: fixed;
            top: 0;
            left: 0;
            width: 500px;
    z-index: 2;
    background-color: black; 
}

.menu-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 15px;
    font-size: 30px;
    line-height: 30px;
    color: white;
}

#direction-box {
    height: 150px;
    width: 150px;
}

.direction-button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
	cursor: pointer;
    height:50px;
    width:50px;
    line-height: 50px;
    font-size: 50px;
}



.direction-button:disabled {
    color: red;
}

#controls {
    margin: 20px;
}

#start-screen {
    height: 100%;
    padding: 0;
    margin: 0;
}

#content {
        padding: 0;
            margin: 0;
    width: 100%;
    height: 100%;
}

#heading-box {
    font-size: xx-large;
    text-align: center;
    padding: 80px 10px 10px 10px;
    color: white;
}

#text-box {
    font-size: large;
    margin: 10px;
    padding: 0 50px 20px 50px;
    text-align: justify;
    color: grey;
}

#choice-box {
    padding: 7px 0 7px 30px;
}

.choice-button {
    background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    color: white;
    background-color: black;
    display: block;
    padding: 4px 10px;
    margin: 5px 0 ;
}

.menu {
    margin-top: 61px;
        padding-top: 50px;
        width: 500px;
        z-index: 1;
    }

#menuLeft {
    color: white;
}

#menuRight {
    color: white;
}

#playerStats {
    margin: 20px;
}