
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.main {
    margin: 0;
    padding: 15px;
    background-color: yellow;
    width: 500px;
    height: 100vh;
    
}

.menu-button {
    background: none;
        border: none;
            padding: 0;
            cursor: pointer;
    margin: 10px;
    width: 30px;
    height: 30px;
}



.choice-button {
    margin: auto;
    background: none;
    border: none;
	padding: 0;
	cursor: pointer;
}

.choice-button:disabled {
    color: red;
}

#start-screen {
    display: block;
}

#content {
    display: none;
}



