
.main {

}

.choice-button {
    background: none;
    border: none;
	padding: 0;
	cursor: pointer;
}

.choice-button:disabled {
    color: red;
}

#startScreen {
    display: block;
}

#content {
    display: none;
}

